/*contenedores*/
$container-max-width: 115rem;//84rem
$gutter: 1rem;

/*columnas*/
$columns-number: 12;
 
/*breakpoints*/
// Small devices 
$screen-xs-max: 767px;

// Dispositivos medios 
$screen-sm-min: 768px;

// Dispositivos grandes
$screen-md-min: 992px;

// Dispositivos ultra grandes 
$screen-lg-min: 1200px;